<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="JTV" allow-return-values="true">
<Listeners>
 <Listner classname="Utility.ScreenShot"/>
</Listeners>
  <test name="Default test">
  <parameter name= "f" value="param"/>
  <parameter name= "l" value="param2"/>
  <parameter name= "e" value="param@gmail.com"/>
  <parameter name= "p" value="1023456789"/>
  <parameter name= "pa" value="test123"/>
  <parameter name= "cpa" value="test123" />
  
    <classes>
      <!-- <class name="com.qa.jtv.TestCases.Home_PageTest"/> -->            
       <!-- <class name="com.qa.jtv.TestCases.CreateAccount_PageTest"/> -->
          <class name="com.qa.jtv.TestCases.LoginPage_Test"/> 
    </classes>
  </test> 
</suite> 
